html            {
                    height:100%;
                    width:100%;

                }

body            {

                    background-color: 	white;
                    height:100%;
                    width:90%;
                    margin: 0 auto;
                    margin-top: 1%;
                    margin-bottom: 1%;
                    border: 1px solid #FF4500;
                                        border-radius:5%;


                }

.bckgrnd {

                    height:100%;
                    width:100%;
                    background-color: none;
                    border-radius:3%;

}

.signupbtn {
                position:relative;
                float:right;
                background:none;
                color:white;
                border:none;
                cursor: pointer;
}

.login-box {
  position: relative;
  top: 50%;
  left: 50%;
  width: 45%;
  height: 90%;
  padding: 3%;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.9);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 4%;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 3% 0;
  font-size: 1.5vw;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 1.5vw;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 1.5vw;
}

.signupbtn  {
            position:relative;
            float:right;
            }




@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}


































.register-button:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}


.register-button:hover .bckgrnd{ background-color: orange;}



.register-button:nth-child(1){
    filter: hue-rotate(270deg);
}
.register-button:nth-child(2){
    filter: hue-rotate(110deg);
}
.register-button span{
    position: absolute;
    display: block;
}
.register-button span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
.register-button span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
.register-button span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


.register-button span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}


.register-button{
    position: relative;
    float:right;
    padding: 3%;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-top: 8%;

}


#warning_cname, #warning_email, #warning_password, #warning_psw_cnfrm, #warning_mismatch  {

display:none;
/*border: 1px dashed red;*/
font-size: 1.5vw;
color: red;
margin-bottom: 7%;
margin-top: 0;
height: 10%;
width: 100%;
}


#warnings {
display:none;
content:" "
display:none;
/*border: 1px dashed red;*/
font-size: 1.5vw;
color: red;
margin-bottom: 7%;
margin-top: 0;
height: 8%;
width: 100%;
}

#warning_email_taken  {
display:none;
font-size: 1.5vw;
color: red;
margin-bottom: 7%;
margin-top: 0;
height: 10%;
width: 100%;
}