
.table         {
                     position:relative;
                     border-radius: 15%;
                     width: 20%;
                     height: 30%;
                     float: left;
                     margin-left: 5%;
                     margin-bottom:2%;
                     border: 3px solid #FF4500;
                     padding:0;
                     background-image: url("../static/table.svg");
                     background-size: 100% 100%;

                     }



.table:hover   {
                 border-radius: 15%;
                 cursor: pointer;
                 background-color: black;

                 }


.table:hover .text-block   {
                                    font-size: 3.2vw;
                                    font-weight: "bold";
                                    color: white;
                                    top: 30%;
                                    right:29%;
                                    border: 1px solid black;
                                    border-radius: 10%;
                                    background-color:black;


                            }




.space          {
                    position: relative;
                    height: 1%;
                    margin-top: 0.5%;
                    margin-bottom: 0.5%;
                    clear:both;
                }

.text-block {
  position: absolute;
  top: 45%;
  right: 37%;
  color: black;
  font-size: 2vw;
  }


.logout         {
                position:relative;
                float:right;
                margin-right: 15%;
                border-bottom: 3px solid black;
                padding-bottom:1px;"
                }


.logout:hover         {
                        position:relative;
                        float:right;
                        border-bottom: 3px solid red;
                        border-top: 3px solid red;
                        padding-bottom:1px;
                        padding-top:1px;
                        color:red;
                       }





                                        /* Order Page Design */
                                        /* Order Page Design */
                                        /* Order Page Design */
                                        /* Order Page Design */

.category_holder {
                    position: relative;
                    width: 15%;
                    height: 22%;
                    border-radius: 20%;
                    margin-left: 1%;
                    float:left;
                    box-sizing:border-box;
                    border: 2px solid #FF4500;
                 }

.category_holder:hover {        border: 3px dashed #008000;   border-radius: 20%;                 }

.drinks         {
                    position: relative;
                    width: 55%;
                    height: 99%;
                    margin-left: 22%;
                    padding: 0.1%;
                }


.dishes, .desserts, .breakfast    {
                position: relative;
                width: 99%;
                height: 99%;
                padding: 0.1%;
            }


 .adds     {
                position: -webkit-sticky;
                position: sticky;
                width: 30%;
                height: 75%;
                border-radius:5%;
                float:right;
                margin-right: 2%;
                padding-top: 1%;
                border: 1px solid #FF4500;
                overflow:auto;
            }


.bill_container          {
                            position: relative;
                            height: 9%;
                            width: 30%;
                            float:right;
                            margin-right: 2%;
                            margin-top: 0.5%;
                            border: 1px solid #FF4500;
                            border-radius: 5%;
                            clear:right;
                         }


.total_bill         {
                        position:absolute;
                        font-size: 2vw;
                        text-align:center;
                        margin:0;
                        padding:0;
                        top:50%;
                        left:50%;
                        font-family: "American Typewriter";
                        transform: translateX(-50%) translateY(-50%);
                    }



.clear_bill          {
                        position: relative;
                        height: 5%;
                        width: 31%;
                        float:right;
                        margin-right: 3.3%;
                        margin-bottom: 0.5%;
                        margin-top: 0.5%;
                        font-family: "American Typewriter";
                        font-size: 1.5rem;
                        text-align:center;
                        clear:right;
                    }



.button_clear_bill        {
                             position:relative;
                             width:88%;
                             height:99.5%;
                             float:right;
                            box-shadow:inset 0px 1px 0px 0px #f5978e;
                            background:linear-gradient(to bottom, #FF8C00 5%, #FF4500 100%);
                            background-color: #FF4500;
                            border-radius:6px;
                            border:1px solid #d02718;
                            display:inline-block;
                            cursor:pointer;
                            color:#ffffff;
                            font-family:"American Typewriter";
                            font-size: 1.7vw;
                            font-weight:bold;
                            text-shadow:0px 1px 0px #810e05;
                            }

.button_clear_bill:hover        {
                                        background:linear-gradient(to bottom, #FF8C00 5%, #FF4500 100%);
	                                    background-color:#FF8C00;
                                }




 .background
                    {
                        position: absolute;
                        width: 98%;
                        height: 98%;
                        float:left;
                        margin: auto;
                        text-align: center;

                    }

.motto {
                  background-image: url(https://media.giphy.com/media/Q8gqp0zwvSoMaDX1uS/giphy.gif);
                          background-size: cover;
                          color: transparent;
                          -moz-background-clip: text;
                          -webkit-background-clip: text;
                          text-transform: uppercase;
                          font-size: 7vw;
                          margin: 10px 0;
                          -webkit-text-stroke-width: 1px;
                        -webkit-text-stroke-color: black;
        }


 .products
                    {
                        position: relative;
                        width: 65%;
                        height: 61.5%;
                        float:left;
                        margin-left: 2%;
                        margin-top: 1%;
                        overflow: auto;
                    }


 .product_info, .product_info_dishes, .product_info_desserts, .product_info_breakfast
                {
                    width: 30%;
                    height: 14%;
                    float:left;
                    margin-top: 1.15%;
                    margin-left: 0.4%;
                    margin-right: 1.4%;
                    border-radius: 20%;
                    display:none;
                    font-size: 1.1vw;
                    text-align: justify;
                    vertical-align: middle;
                    border: 1px solid #FF4500;
                    border-radius: 5%;
                    background-color: white;
                }




.product_name     {
                        position:relative;
                        float:left;
                        margin-top: 9%;
                        margin-left: 5%;
                        font-weight: bold;
                        width: 50%;
                        height:50%;
                        color: black;
                        text-align:left;
                    }


.add_button     {
                    position:relative;
                    float:right;
                    margin-top: 7%;
                    margin-bottom: 7%;
                    margin-right:5%;
                    font-weight: bold;
                    width:20%;
                    height: 50%;
                    border-radius: 20%;
                    background-color: #ffef96;
                    font-size: 1.5vw;
                }

.div-for-order {
                    float:left;
                    height: 5%;
                    width: 87%;
                    margin-left: 5%;
                    margin-top: 2%;
                    font-size: 1.5vw;
                    font-weight: bold;
                    border-bottom: 2px dashed #FF4500;
                    text-align:left;
                    padding-bottom: 1px;
                    align-items: center;
                    vertical-align: middle;
                }





.hmany     {
                width: 7%;
                height: 70%;
                float:right;
                font-weight:bold;
                text-align:center;
                color: red;
                position:relative;
                display: inline-block;
                font-size: 1.4vw;
                pointer-events: none;
           }

.decreasebtn  {
                width: 10%;
                height: 99%;
                float:right;
                position:relative;
                display: inline-block;
                text-align:center;
                font-size: 1.3vw;
                padding: 1%;
                margin-bottom:1px;
              }

.decreasebtn:hover{cursor:pointer;}
.increasebtn:hover{cursor:pointer;}
.add_button:hover{cursor:pointer;}

.increasebtn  {
                width: 10%;
                height: 99%;
                float:right;
                position:relative;
                display: inline-block;
                font-size: 1.3vw;
                text-align: center;
                padding: 1%;
                margin-bottom:1px;
               }


.notebook     {
                width: 99%;
                height: 99%;
                padding: 0.1%;
              }


.back       {
                float:left;
                position:relative;
                margin-left: 30%;
                height:6%;
                            background:linear-gradient(to bottom, #FF8C00 5%, #FF4500 100%);
                            background-color: #FF4500;
                            border-radius:6px;
                            border:1px solid #d02718;
                            display:inline-block;
                            cursor:pointer;
                            color:#ffffff;
                            font-family:"American Typewriter";
                            font-size: 1.7vw;
                            font-weight:bold;
                            text-shadow:0px 1px 0px #810e05;

            }

.canvas_tables  {
                    position:relative;
                    margin:auto;
                    width:90%;
                    height:90%;
                    box-sizing: border-box;
                    padding-left: 10%;
                    padding-top: 1.5%;

                 }

 .canvas  {
                    position:relative;
                    margin:auto;
                    width:90%;
                    height:90%;
                    box-sizing: border-box;
                    padding-left: 2%;
                    padding-top: 1.5%;

                 }

@media all and (max-width: 600px){

    .table {width: 30%; width: 40%;}

    .canvas_tables  {
                    margin-left:2%;

                 }
    body {border: 1px solid black;}


    .text-block {
                      top: 47%;
                      right: 34%;
                      font-size: 4vw;
                }

    .table:hover .text-block   {
                                    font-size: 6vw;
                                    top: 30%;
                                    right:30%;

                                }

    .category_holder {
                        width: 25%;
                        height: 23%;
                        margin-left: 1%;
                        float:none;
                    }

    #cat_dishes {
                    position:absolute;
                    top:0;
                    left:25%;

                }
    #cat_drinks  {
                position:absolute;
                top:0;
                left:0;
                }

    #cat_desserts  {
                position:absolute;
                top:25%;
                left:0;
                }
    #cat_breakfast  {
                position:absolute;
                top:25%;
                left:25%;
                }

    .products {
                width:45%;
                height:80%;
                position:absolute;
                top:0;
                right:0;
                border:1px solid black;

    }
    .adds{

                position:relative;
                float:left;
                top:52%;
                left:0;
                height:45%;
                border:1px solid black;
    }
    .bill_container{
                float:none
                position:relative;
                top: 85%;
                right: 0;
    }
    .clear_bill{
                float:none
    }

    .product_info, .product_info_dishes, .product_info_desserts, .product_info_breakfast
                { float:none;
                    width: 100%;
                    height:7%;
                }


}