{% extends 'layout.html' %}

{% block page_title %}
    Order System
{% endblock page_title %}

{% block tables %}

<div class="canvas_tables">
            <a class="logout" href="/logout">Log Out</a><br><br>

				<div id="T-01" class="table" >
				<p class="text-block">T-01</p>
				</div>
				<div id="T-02" class="table">
					<p class="text-block">T-02</p>
				</div>
				<div id="T-03" class="table">
					<p class="text-block">T-03</p>
				</div>

				<div id="T-04" class="table" >
					<p class="text-block">T-04</p>
				</div>
				<div id="T-05" class="table">
					<p class="text-block">T-05</p>
				</div>
				<div id="T-06" class="table">
					<p class="text-block">T-06</p>
				</div>
				<div id="T-07" class="table" >
					<p class="text-block">T-07</p>
				</div>
				<div id="T-08" class="table">
					<p class="text-block">T-08</p>
				</div>
				<div id="T-09" class="table">
					<p class="text-block">T-09</p>
				</div>

</div>


<div class="canvas" style="width:100%; height:100%; display:None;">
					<div id="cat_drinks" class="category_holder">
						<img class="drinks" src="../static/drink.png" alt="Drinks">
					</div>
					<div id="cat_dishes" class="category_holder">
						<img class="dishes" src="../static/dishes.png" alt="Drinks">
					</div>
					<div id="cat_desserts" class="category_holder">
								<img class="desserts" src="../static/desserts.png" alt="Drinks">

					</div>
					<div id="cat_breakfast" class="category_holder">
						<img class="breakfast" src="../static/breakfast.png" alt="Drinks">
					</div>


<div id="order-adds" class="adds">

</div>

<div id="id_products" class="products">

            <div class="product_info">
                    <p class="product_name">Drink A</p>
                    <p class="price" style="display:none; float:right">10.50</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
            <div class="product_info">
                    <p class="product_name">Drink B</p>
                    <p class="price" style="display:none;">20.00</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
            <div class="product_info">
                    <p class="product_name">Drink C</p>
                    <p class="price" style="display:none;">9.75</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
            <div class="product_info">
                    <p class="product_name">Drink D</p>
                    <p class="price" style="display:none; float:right">20.00</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
			<div class="product_info">
                    <p class="product_name">Drink E</p>
                    <p class="price" style="display:none; float:right">10.50</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
            <div class="product_info">
                    <p class="product_name">Drink F</p>
                    <p class="price" style="display:none;">20.00</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
            <div class="product_info">
                    <p class="product_name">Drink G</p>
                    <p class="price" style="display:none;">9.75</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
            <div class="product_info">
                    <p class="product_name">Drink H</p>
                    <p class="price" style="display:none; float:right">20.00</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
			<div class="product_info">
                    <p class="product_name">Drink I</p>
                    <p class="price" style="display:none; float:right">10.50</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
            <div class="product_info">
                    <p class="product_name">Drink K</p>
                    <p class="price" style="display:none;">20.00</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
            <div class="product_info">
                    <p class="product_name">Drink L</p>
                    <p class="price" style="display:none;">9.75</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
            <div class="product_info">
                    <p class="product_name">Drink M</p>
                    <p class="price" style="display:none; float:right">20.00</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
            <div class="product_info">
                    <p class="product_name">Drink N</p>
                    <p class="price" style="display:none;">20.00</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
            <div class="product_info">
                    <p class="product_name">Drink O</p>
                    <p class="price" style="display:none;">9.75</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
            <div class="product_info">
                    <p class="product_name">Drink P</p>
                    <p class="price" style="display:none; float:right">20.00</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>


            <div class="product_info_dishes">
                    <p class="product_name">Product A</p>
                    <p class="price" style="display:none; float:right">100.75</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
            <div class="product_info_dishes">
                    <p class="product_name">Product B</p>
                    <p class="price" style="display:none;">70.50</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
            <div class="product_info_dishes">
                    <p class="product_name">Product C</p>
                    <p class="price" style="display:none;">20.25</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
            <div class="product_info_dishes">
                    <p class="product_name">Product D</p>
                    <p class="price" style="display:none; float:right">50.75</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
            <div class="product_info_dishes">
                    <p class="product_name">Product E</p>
                    <p class="price" style="display:none;">70.50</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
            <div class="product_info_dishes">
                    <p class="product_name">Product F</p>
                    <p class="price" style="display:none;">20.25</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
            <div class="product_info_dishes">
                    <p class="product_name">Product G</p>
                    <p class="price" style="display:none; float:right">50.75</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
			<div class="product_info_dishes">
                    <p class="product_name">Product H</p>
                    <p class="price" style="display:none; float:right">100.75</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
            <div class="product_info_dishes">
                    <p class="product_name">Product I</p>
                    <p class="price" style="display:none;">70.50</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
            <div class="product_info_dishes">
                    <p class="product_name">Product K</p>
                    <p class="price" style="display:none;">20.25</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
            <div class="product_info_dishes">
                    <p class="product_name">Product L</p>
                    <p class="price" style="display:none; float:right">50.75</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
			<div class="product_info_dishes">
                    <p class="product_name">Product M</p>
                    <p class="price" style="display:none; float:right">100.75</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
            <div class="product_info_dishes">
                    <p class="product_name">Product N</p>
                    <p class="price" style="display:none;">70.50</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
            <div class="product_info_dishes">
                    <p class="product_name">Product O</p>
                    <p class="price" style="display:none;">20.25</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
            <div class="product_info_dishes">
                    <p class="product_name">Product P</p>
                    <p class="price" style="display:none; float:right">50.75</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>



            <div class="product_info_desserts">
                    <p class="product_name">Dessert A</p>
                    <p class="price" style="display:none; float:right">60.00</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
            <div class="product_info_desserts">
                    <p class="product_name">Dessert B</p>
                    <p class="price" style="display:none;">60.00</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
            <div class="product_info_desserts">
                    <p class="product_name">Dessert C</p>
                    <p class="price" style="display:none;">70.00</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
            <div class="product_info_desserts">
                    <p class="product_name">Dessert D</p>
                    <p class="price" style="display:none; float:right">50.00</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
			<div class="product_info_desserts">
                    <p class="product_name">Dessert E</p>
                    <p class="price" style="display:none; float:right">60.00</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
            <div class="product_info_desserts">
                    <p class="product_name">Dessert F</p>
                    <p class="price" style="display:none;">60.00</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
            <div class="product_info_desserts">
                    <p class="product_name">Dessert G</p>
                    <p class="price" style="display:none;">70.00</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
            <div class="product_info_desserts">
                    <p class="product_name">Dessert H</p>
                    <p class="price" style="display:none; float:right">50.00</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
			<div class="product_info_desserts">
                    <p class="product_name">Dessert I</p>
                    <p class="price" style="display:none; float:right">60.00</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
            <div class="product_info_desserts">
                    <p class="product_name">Dessert K</p>
                    <p class="price" style="display:none;">60.00</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
            <div class="product_info_desserts">
                    <p class="product_name">Dessert L</p>
                    <p class="price" style="display:none;">70.00</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
            <div class="product_info_desserts">
                    <p class="product_name">Dessert M</p>
                    <p class="price" style="display:none; float:right">50.00</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
			<div class="product_info_desserts">
                    <p class="product_name">Dessert N</p>
                    <p class="price" style="display:none; float:right">60.00</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
            <div class="product_info_desserts">
                    <p class="product_name">Dessert O</p>
                    <p class="price" style="display:none;">60.00</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
            <div class="product_info_desserts">
                    <p class="product_name">Dessert P</p>
                    <p class="price" style="display:none;">70.00</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>


            <div class="product_info_breakfast">
                    <p class="product_name">Menu A</p>
                    <p class="price" style="display:none; float:right">20.00</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
            <div class="product_info_breakfast">
                    <p class="product_name">Menu B</p>
                    <p class="price" style="display:none;">30.00</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
            <div class="product_info_breakfast">
                    <p class="product_name">Menu C</p>
                    <p class="price" style="display:none;">20.00</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
            <div class="product_info_breakfast">
                    <p class="product_name">Menu D</p>
                    <p class="price" style="display:none; float:right">30.00</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
			<div class="product_info_breakfast">
                    <p class="product_name">Menu E</p>
                    <p class="price" style="display:none; float:right">20.00</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
            <div class="product_info_breakfast">
                    <p class="product_name">Menu F</p>
                    <p class="price" style="display:none;">30.00</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
            <div class="product_info_breakfast">
                    <p class="product_name">Menu G</p>
                    <p class="price" style="display:none;">20.00</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
            <div class="product_info_breakfast">
                    <p class="product_name">Menu H</p>
                    <p class="price" style="display:none; float:right">30.00</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
			<div class="product_info_breakfast">
                    <p class="product_name">Menu I</p>
                    <p class="price" style="display:none; float:right">20.00</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
            <div class="product_info_breakfast">
                    <p class="product_name">Menu K</p>
                    <p class="price" style="display:none;">30.00</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
            <div class="product_info_breakfast">
                    <p class="product_name">Menu L</p>
                    <p class="price" style="display:none;">20.00</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
            <div class="product_info_breakfast">
                    <p class="product_name">Menu M</p>
                    <p class="price" style="display:none; float:right">30.00</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
			<div class="product_info_breakfast">
                    <p class="product_name">Menu N</p>
                    <p class="price" style="display:none; float:right">20.00</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
            <div class="product_info_breakfast">
                    <p class="product_name">Menu O</p>
                    <p class="price" style="display:none;">30.00</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>
            <div class="product_info_breakfast">
                    <p class="product_name">Menu P</p>
                    <p class="price" style="display:none;">20.00</p>
                    <button class="add_button"><i class="fa fa-plus"></i></button>
            </div>


            <div class="background">
                <h1 class="motto">Order</h1>
                <h1 class="motto"> Management </h1>
                <h1 class="motto">System</h1>

            </div>

</div>

<div class="bill_container">
    <h1 class="total_bill"></h1>
</div>
<div class="clear_bill">
            <button onclick="paid()" class="button_clear_bill">Clear Bill</button>
</div>
	<button onclick="location.href='http://127.0.0.1:5000/tables'" class="back">
		<i class="fa fa-angle-double-left" style="font-size:2vw;color:white;"></i>
		<i class="fa fa-angle-double-left" style="font-size:2vw;color:white;"></i>
		<i class="fa fa-angle-double-left" style="font-size:2vw; color:white;"></i>
		<i class="fa fa-angle-double-left" style="font-size:2vw; color:white;"></i>
		<i class="fa fa-angle-double-left" style="font-size:2vw; color:white;"></i>
	</button>

</div>


<script src="../static/tables.js">
</script>


{% endblock tables %}

