{% extends 'layout.html' %}

{% block page_title %}
    Test Page
{% endblock page_title %}

{% block test %}


<div class="grid_canvas_table">


    <div class="product_side">
            <div class="cats_row">

                <div id="cat_drinks" class="category_holder_grid"> <img class="drinks" src="static/drink.png" alt="Drinks"> </div>
                <div id="cat_dishes" class="category_holder_grid"> <img class="drinks" src="static/dishes.png" alt="Dishes"> </div>
                <div id="cat_desserts" class="category_holder_grid"> <img class="drinks" src="static/desserts.png" alt="Desserts">  </div>
                <div id="cat_breakfast" class="category_holder_grid"> <img class="drinks" src="static/breakfast.png" alt="Breakfast"> Category Holder </div>

            </div>
            <div class="products_grid">

                                        <div class="pro_holder">

                                            <div class="product_name_grid">Hot Mocha</div>
                                            <div class="price_grid">10.50</div>
                                            <button class="add_button_grid"><i class="fa fa-plus"></i></button>

                                        </div>

                                        <div class="pro_holder"> Product Holder </div>
                                        <div class="pro_holder"> Product Holder </div>
                                        <div class="pro_holder"> Product Holder </div>
                                        <div class="pro_holder"> Product Holder </div>
                                        <div class="pro_holder"> Product Holder </div>
                                        <div class="pro_holder"> Product Holder </div>
                                        <div class="pro_holder"> Product Holder </div>
                                        <div class="pro_holder"> Product Holder </div>
                                        <div class="pro_holder"> Product Holder </div>
                                        <div class="pro_holder"> Product Holder </div>
                                        <div class="pro_holder"> Product Holder </div>
                                        <div class="pro_holder"> Product Holder </div>




            </div>
            <div class="back_row">

                            <button class="go_back_button">
                                <i class="fa fa-angle-double-left" style="font-size:3vw;color:red"></i>
                                <i class="fa fa-angle-double-left" style="font-size:3vw;color:red"></i>
                                <i class="fa fa-angle-double-left" style="font-size:3vw;color:red"></i>
                                <i class="fa fa-angle-double-left" style="font-size:3vw;color:red"></i>


                            </button>

            </div>
    </div>


    <div class="order_side">
            <div class="orders">

                <div class="center">

                    <div style="border-bottom:1px dashed black; width:99%;">xxxx</div>
                    <div style="border-bottom:1px dashed black; width:99%;">xxxx</div>
                    <div style="border-bottom:1px dashed black; width:99%;">xxxx</div>




                </div>

            </div>
            <div style="padding-top:7%; padding-left:45%;" class="o_row"> Bill </div>
            <div style="padding-top:4%; padding-left:35%;" class="o_row"> Clear Bill Button </div>
    </div>





</div>



<script src="../static/tables.js">
</script>


{% endblock test %}

