{% extends 'layout.html' %}

{% block page_title %}
    Test Page
{% endblock page_title %}

{% block test %}


<div class="grid_canvas_tables">


    <div class="product_side">
            <div class="ps_row">

                <div class="cat">  </div>
                <div class="cat">  </div>
                <div class="cat">  </div>
                <div class="cat">  </div>

            </div>
            <div class="ps_row">  </div>
            <div class="ps_row">  </div>
    </div>


    <div class="order_side">
            <div class="o_row">  </div>
            <div class="o_row">  </div>
            <div class="o_row">  </div>
    </div>





</div>



<script src="../static/tables.js">
</script>


{% endblock test %}

